# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Venv
venv/

# SQLite
*.db

# Testing
.pytest_cache/
.coverage

# JetBrains
.idea/

# macOS
.DS_Store

# anybadge
*.svg

# Postman
postman_collection.json
postman_environment.json
