# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Venv
venv/

# SQLite
*.db

# Postgres
database.conf

# Testing
.pytest_cache/
.coverage

# JetBrains
.idea/

# macos
.DS_Store
