flask
flask-babel
flask-bcrypt
flask-cors
flask-jwt-simple
flask-mail
flask-migrate
flask-restx
flask-sqlalchemy
flask-testing
itsdangerous
pyjwt==1.7.1
psycopg2-binary
speaklater
sqlalchemy
werkzeug==0.16.0
